/* 

Website: Renty - Real Estate landing page
Author: Muhammad wahab aka XADA
Url:https://xada.netlify.app
File Description : Main css file
 
/* ############################################ */
/*               TABLE OF CONTENTS              */
/* ############################################ */
/* 
1. Reset // LINK :33
2. Root   // LINK :437
    2.1 font-size
    2.2 color
    2.3 spacing
3. fonts // LINK :479
4. Header // LINK :498
5. Hero // LINK :530
    5.1 SEARCH LABEL
6.  Featured // LINK :804
7.  Services // LINK :933
8.  WHY US   // LINK :979
9.  HOMES   // LINK :1080
    9.1 SPLIDER
10. FAQ // LINK :1195
11.  FOOTER // LINK :1313 
12.  MEDIA QUIRES // LINK :1467  
    12.1 TABLET MEDIA QUIRES   
    12.2 MOBILE MEDIA QUIRES 



  */
/* ---------------------------------- */
/*               1.REST               */
/* ---------------------------------- */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Sora", sans-serif;
  overflow: hidden;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
  color: #fff;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
  max-width: 100%;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border: none;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

/* --- custom styles removal ----- */
ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

select,
select:focus,
select:active {
  border: none;
}

/* ---------------------------------- */
/*              2.ROOT                */
/* ---------------------------------- */
:root {
  /* --- 2.1 font-size --- */
  --font-1: clamp(2.75rem, calc(2.36rem + 1.96vw), 4.13rem);
  --font-2: clamp(2.25rem, calc(2.04rem + 1.07vw), 3rem);
  --font-3: clamp(1.13rem, calc(1.02rem + 0.54vw), 1.5rem);
  --font-4: clamp(1.25rem, calc(0.96rem + 1.43vw), 2.25rem);
  /* --- 2.2 spacing --- */
  --space-0: clamp(1rem, calc(0.86rem + 0.71vw), 1.5rem);
  --space-1: clamp(1.5rem, calc(1.29rem + 1.07vw), 2.25rem);
  --space-2: clamp(2rem, calc(1.71rem + 1.43vw), 3rem);
  --space-3: clamp(2.5rem, calc(2.14rem + 1.79vw), 3.75rem);
  --space-4: clamp(3rem, calc(2.57rem + 2.14vw), 4.5rem);
  --space-5: clamp(3.5rem, calc(3rem + 2.5vw), 5.25rem);
  --space-6: clamp(4rem, calc(3.43rem + 2.86vw), 6rem);
  --space-7: clamp(4.5rem, calc(3.86rem + 3.21vw), 6.75rem);
  --space-8: clamp(5rem, calc(4.29rem + 3.57vw), 7.5rem);
  --space-9: clamp(5.5rem, calc(4.71rem + 3.93vw), 8.25rem);
  --space-10: clamp(6rem, calc(5.14rem + 4.29vw), 9rem);
  --space-11: clamp(6.5rem, calc(5.57rem + 4.64vw), 9.75rem);
  --space-12: clamp(7rem, calc(6rem + 5vw), 10.5rem);
  --space-13: clamp(7.5rem, calc(6.43rem + 5.36vw), 11.25rem);
  --space-14: clamp(8rem, calc(6.86rem + 5.71vw), 12rem);
  --space-15: clamp(8.5rem, calc(7.29rem + 6.07vw), 12.75rem);
  --space-16: clamp(9rem, calc(7.71rem + 6.43vw), 13.5rem);
  --space-17: clamp(9.5rem, calc(8.14rem + 6.79vw), 14.25rem);
  --space-18: clamp(10rem, calc(8.57rem + 7.14vw), 15rem);
  --step-0: clamp(2.25rem, calc(1.82rem + 2.14vw), 3.75rem);
  --step-1: clamp(1.63rem, calc(1.34rem + 1.43vw), 2.63rem);
  /* -------- 2.3 color ------ */
  --color-green: #1fab71;
  --color-blue: #4573fd;
  --color-black: #161617;
  --shade-black-1: #1f2022;
  --shade-black-2: #2d2d2f;
  --color-grey: #808080;
  --shade-grey-1: #969696;
  -shade-grey-2: #d0d0d1;
}

/* ---------------------------------- */
/*             3. FONTS               */
/* ---------------------------------- */

h1 {
  font-size: var(--font-1);
}

h2 {
  font-size: var(--font-2);
}

h3 {
  font-size: var(--font-3);
}
h4 {
  font-size: var(--font-4);
}

/* ---------------------------------- */
/*             4.HEADER               */
/* ---------------------------------- */

.nav--ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
  padding: 1.8rem 0 1.8rem;
}
.nav--ul a:nth-child(4) {
  margin-left: auto;
  margin-right: auto;
}

.nav--link {
  color: #fff;
}

.brand {
  display: none;
}

#menuToggle input {
  display: none;
}

/* ---------------------------------- */
/*               5.HERO                */
/* ---------------------------------- */

#hero {
  background-color: var(--color-black);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: var(--space-1);
  padding: var(--space-1) 0 var(--space-8);
  align-items: center;
}

.hero--img {
  width: 100%;
  height: auto;
  display: grid;
  justify-items: center;
  position: relative;
}

.hero--img::before {
  content: "";
  position: absolute;
  width: 714px;
  height: 713px;
  left: -384px;
  top: -293px;
  background: rgba(120, 120, 120, 0.4);
  filter: blur(212px);
}

.hero--img::after {
  content: "";
  position: absolute;
  width: 274px;
  height: 273px;
  left: 410px;
  top: 91px;
  background: rgba(187, 110, 62, 0.2);
  filter: blur(95px);
}

.hero--img::before:after {
  content: "";
  position: absolute;
  width: 288px;
  height: 287px;
  left: -132px;
  top: 685px;

  background: rgba(255, 255, 255, 0.12);
  filter: blur(120px);
}

.hero--img img {
  width: 75%;
  height: auto;
}

.hero--content {
  display: grid;
}

.hero--content h1 {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 1.1;
}

.hero--content p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--shade-grey-1);
  max-width: 44ch;
  line-height: 1.5;
}

.hero--content h2 {
  color: #fff;
  margin-bottom: 0;
}

.search {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 12px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.search img {
  padding: 5px;
  border-radius: 14px;
  border: 1px solid #d0d0d1;
}

/* ---------------------------------- */
/*        5.1 SEARCH LABEL            */
/* ---------------------------------- */

* {
  transition-duration: 0.2s;
  transition-property: none;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

label.field {
  padding: 0.2rem 0.4rem;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  z-index: 1;
}
label.field span {
  color: inherit;
  display: block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 1.875rem;
  transform: scale(1) translateY(0);
  transition-property: color, font-size, top;
  z-index: 1;
}
label.field span.required,
label.field .psuedo_select::after {
  color: inherit;
  content: "*";
  display: block;
  height: 20px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
  transform: translatey(-26px);
}
.error label.field span {
  color: #f02318;
}
label.field .psuedo_select {
  background: rgba(255, 255, 255, 0);
  position: relative;
  border-color: #666;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  margin: 24px 0 0 0;
  min-width: 50px;
  padding-top: 24px;
  outline: 0;
  z-index: 1;
}
label.field .psuedo_select::after {
  background: url(""), no-repeat;
  content: "\2039";
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transition-property: background;
  transform: rotate(271deg);
}
label.field .psuedo_select .selected {
  height: 24px;
  left: 1px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(24px);
  transition-property: opacity, transform;
  will-change: transform;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
}
label.field .psuedo_select ul {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  display: block;
  height: 0;
  list-style: none;
  margin-top: 2px;
  opacity: 0;
  overflow: hidden;
  padding: 0 1px;
  pointer-events: none;
  transition-property: height, opacity;
  width: 100%;
  z-index: 2;
}
label.field .psuedo_select ul li {
  height: 32px;
  padding: 8px 4px;
}
label.field .deselect {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}
label.field.focused {
  color: #007bed;
}
label.field.focused .psuedo_select {
  border-color: #007bed;
}
label.field.focused .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='#007BED' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>"),
    no-repeat;
}
label.field.focused .psuedo_select ul {
  opacity: 1;
  pointer-events: all;
}

/* ---------------SEARCH LABEL END -------------- */
.search--btn {
  padding: 1rem 1.5rem;
  background-color: var(--color-green);
  color: #fff;
  border-radius: 12px;
  align-self: center;
}

.hero--achive {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-0);
}

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: var(--space-10);
}

.box h4 {
  color: #fff;
  margin-bottom: 0;
}

.box svg {
  width: var(--space-2);
  height: var(--space-2);
}

/* ---------------------------------- */
/*        6.FEATURED                  */
/* ---------------------------------- */

#featured {
  background-color: var(--color-black);
  padding: var(--space-5) 0 var(--space-5);
  background-image: url(../img/Featured/BG.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
.fea--p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  margin: 0;
  color: var(--color-green);
}

.fea--title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: var(--space-4);
}

.fea--title h2 {
  margin: 0px;
  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.fea--title a {
  margin-left: auto;
}

.fea--content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: var(--space-1);
}

.fea--box {
  position: relative;
  background-color: var(--color-black);
  border-radius: 14px;
}

.fea--box img {
  width: 100%;
}

.fea--box p {
  color: #fff;
}

.fea--info {
  padding: 1.6rem 1.5rem;
}

p.loc--mark {
  color: #fff;
  padding-left: 2rem;
  margin: 0;
}

.loc--mark::before {
  content: "";
  background-image: url(../img/Featured/loc.svg);
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  left: 1.5rem;
}

p.fea--details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.fea--details img {
  width: 1.5rem;
  height: 1.5rem;
}

.fea--booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fea--booking a {
  padding: var(--space-0);
  background-color: var(--color-green);
  white-space: nowrap;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.fea--booking p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

a.outline-btn {
  background-color: unset;
  border: 2px solid var(--color-green);
  color: var(--color-green);
}

/* ---------------------------------- */
/*         7. SERVICES                */
/* ---------------------------------- */

#services {
  background-color: var(--color-black);
}

p.ser--p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  margin: 0px;
  color: var(--color-green);
}

.ser--h2 {
  width: 95%;
  margin: 0;
}
.service--img {
  display: grid;
  justify-items: center;
}

.ser--img {
  width: 100% !important;
}

.service--achive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
}

.ser--box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ----------  --------- */

/* ---------------------------------- */
/*              8.WHY US              */
/* ---------------------------------- */

#whyus {
  background-color: var(--shade-black-1);
  color: #fff;
  padding: 3rem 0 3rem;
}

.why--us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: var(--space-5);
  align-items: center;
}

.why--content h2 {
  margin: 0;
}

.why--content > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 480px;
}

.sub--content img {
  margin-right: 1rem;
}

.why--graphics {
  background-image: url(../img/why-us/whyus-bg.png);
  height: 600px;
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  background: linear-gradient(
    125.01deg,
    rgba(0, 0, 0, 0.45) 29.4%,
    rgba(0, 0, 0, 0) 97.93%
  );
  filter: drop-shadow(rgba(2, 92, 138, 0.27) 10px 14px 74px);
  backdrop-filter: blur(15px);
  border-radius: 22px;
  width: 75%;
  padding: 1.5rem 1rem;
  position: absolute;
  bottom: 7%;
}

.why--text {
  display: flex;
  flex-direction: column;
}

.why--text h3,
.why--text p {
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  width: 45%;
  position: relative;
}

.profile img {
  position: absolute;
  width: 75px;
}
.profile img:nth-child(1) {
  left: -20px;
  z-index: 4;
}
.profile img:nth-child(2) {
  left: 10px;
  z-index: 4;
}
.profile img:nth-child(3) {
  left: 42px;
  z-index: 4;
}
.profile img:nth-child(4) {
  left: 78px;
  z-index: 4;
}

/* ---------------------------------- */
/*               9.HOMES              */
/* ---------------------------------- */
#homes {
  background-color: var(--color-black);
  padding-top: var(--space-12);
  padding-bottom: var(--space-11);
}

.homes--title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 56%;
}

.homes--title p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-green);
  max-width: 480px;
}

.homes--title h2 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 0.5rem;
}

/* -------------9.1 SPLIDER ------------ */
.splide__list {
  align-items: flex-start;
}

.splide__arrows {
  position: absolute;
  left: 90%;
  align-content: space-around;
  justify-content: space-around;
  top: -60px;
}

.splide__arrow--prev {
  transform: rotate(180deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.splide__arrow--prev svg,
.splide__arrow--next svg {
  width: 12px;
}

.splide__arrow--next {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-color: transparent;
  border: 2px solid #fff;
}
.splide__arrow--next svg {
  fill: #fff;
}

figcaption {
  opacity: 0;
}

.splide__slide img {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.splide__slide.is-active img {
  position: relative;
  width: 100%;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.splide__slide.is-active figcaption {
  transition: all 0.5s;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.splide__slide.is-active figure {
  transition: all 0.5s ease-in-out;
  margin: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* ---------------------------------- */
/*               10.FAQ                */
/* ---------------------------------- */
#faq {
  background-color: var(--shade-black-1);
  color: #fff;
  padding: var(--space-1) 0 var(--space-4);
}

.faq--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-12);
}
.faq--title h2,
.faq--title p {
  margin: 0;
}

.faq--title h2 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
}

.faq--title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  color: #d0d0d1;
  max-width: 60%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  color: inherit;
  border: none;
  padding: inherit;
}

.accordion-container {
  display: grid;
  grid-template-columns: 1fr;
}

.accordion {
  --border-radius: 0.6rem;
  margin: 1rem 0;
  border: 1px solid var(--color-green);
  border-radius: 14px;
  transition: 0.2s ease-out;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.accordion:hover,
.accordion.is-open {
  background-color: var(--color-green);
}
.accordion__header {
  text-align: start;
  cursor: pointer;
  margin: 0 auto;
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.accordion__header[aria-expanded="true"] {
  --icon: "\00D7";
}
.accordion__header > * {
  pointer-events: none;
}
.accordion__header .title {
  font-weight: 400;
  text-transform: capitalize;
}
.accordion__header .title::after {
  content: var(--icon, "+");
  position: absolute;
  left: 88%;
}
.accordion__panel {
  color: #999;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion__panel.js-panel p {
  color: #d0d0d1;
  max-width: 65%;
  margin-left: 1rem;
  padding: 0 0.5rem 2rem;
}

/* ---------------------------------- */
/*            11.FOOTER               */
/* ---------------------------------- */
#footer {
  background-color: var(--color-black);
  padding-top: var(--space-14);
  color: #fff;
}

.footer--content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer--nav {
  flex: 1 2 60%;
}

.footer--nav p {
  font-family: sora;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

.footer--nav p::after {
  content: "";
  border-bottom: 6px solid rgb(31, 171, 113);
  width: 40px;
  position: absolute;
  left: 0;
  bottom: -12px;
}

.footer--ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.footer--susbscribe {
  flex: 1 2 40%;
}

.footer--soical {
  padding: 6rem 0 6rem;
}

.footer--soical a {
  margin: 0.5rem;
}

.footer--soical p {
  max-width: 40%;
  margin-top: var(--space-3);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #969696;
}

.footer--susbscribe p:first-of-type {
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  position: relative;
}

.footer--susbscribe p:first-of-type::after {
  content: "";
  border-bottom: 6px solid rgb(31, 171, 113);
  width: 40px;
  position: absolute;
  left: 0;
  bottom: -12px;
}

.footer--susbscribe p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #969696;
}
.footer--susbscribe form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}

form input {
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid #2d2d2f;
  padding: 1rem;
  color: #fff;
  flex: 1 2 100%;
}

form button {
  padding: 1rem;
  background-color: var(--color-green);
  border-radius: 4px;
  flex: 0 1 0;
  cursor: pointer;
}

.pre--footer::before {
  content: "";
  position: absolute;
  border-top: 1px solid #2d2d2f;
  width: 100%;
  top: -50%;
}

.pre--footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.pre--footer p {
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #969696;
}

.pre--footer a {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: #969696;
  margin: 5px;
}

/* ---------------------------------- */
/*            12. MEDIA QUIRE         */
/* ---------------------------------- */

/* ---------------------------------- */
/*    12.1 TABLET MEDIA QUIRES        */
/* ---------------------------------- */
@media (max-width: 900px) {
  #menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .nav--link:hover {
    color: var(--color-green);
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
  * Just a quick hamburger
  */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .header {
    padding: var(--space-2);
  }

  .header,
  .main--nav {
    display: flex;
  }

  .brand {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo {
    display: none;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
  }

  /*
  * But let's hide the middle one.
  */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
  * Ohyeah and the last one should go the other direction
  */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
  * Make this absolute positioned
  * at the top left of the screen
  */
  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 25rem;
    margin: 1.8rem 0 0 -7.188rem;
    padding: 4rem 2rem 4rem 2rem;
    background-color: var(--color-black);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /* blur the hero class once checked box is :checked */
  .blur-bg {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
  }

  /* And let's slide it in from the left */
  #menuToggle input:checked ~ ul {
    transform: none;
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  /* -------- MOBILE MENU ENDS -------- */

  .search {
    padding: var(--space-1);
  }

  label.field {
    flex: 1 1 225px;
  }

  .box {
    flex: 1;
  }
  /* -------------- HERO Ends -------------- */
  /* ---------------------------------- */
  /*             Featured               */
  /* ---------------------------------- */
  #featured {
    background-size: cover;
  }
  .fea--title a {
    margin-left: 0;
    padding-top: 1.5rem;
    flex: 1 1 100%;
  }

  /* ---------------------------------- */
  /*                HOMES               */
  /* ---------------------------------- */

  .homes--title {
    width: 70%;
  }

  /* ---------------------------------- */
  /*               FOOTER               */
  /* ---------------------------------- */

  .footer--content {
    gap: 3rem;
  }
}

/* ---------------------------------- */
/*   12.2  MOBILE MEDIA QUIRES        */
/* ---------------------------------- */
@media (max-width: 450px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }

  .hero--img {
    order: 1;
  }

  .hero--achive {
  }

  .search {
    row-gap: 1rem;
    column-gap: 0.5rem;
    max-width: 360px;
  }

  label.field {
    flex: 1 1 230px;
  }
  label.field.focused {
    z-index: 3;
  }

  /* ------------ FEATURED ------------ */
  #featured {
    background-repeat-y: repeat;
  }

  /* ---------------------------------- */
  /*                 FAQ                */
  /* ---------------------------------- */
  .accordion__panel {
    padding: 0;
  }

  .accordion__panel.js-panel p {
    max-width: 100%;
    margin-left: 0.5rem;
    padding: 0.5rem;
  }

  .faq--title p {
    max-width: unset;
  }

  /* ---------------------------------- */
  /*               WHY US               */
  /* ---------------------------------- */
  .why--us {
    grid-template-columns: auto;
  }

  .profile {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
  }

  .profile img {
    width: unset;
    margin: -30px;
  }

  /* ---------------------------------- */
  /*                HOMES               */
  /* ---------------------------------- */
  .homes--title {
    width: 75%;
  }
  /* ---------------------------------- */
  /*               FOOTER               */
  /* ---------------------------------- */

  form button {
    flex: 1;
  }

  .footer--soical p {
    max-width: 100%;
  }

  .pre--footer p {
    flex: 1 2 100%;
  }

  .pre--footer a {
    flex: 1 2 100%;
    display: flex;
    margin: 1rem 0;
  }
}
